# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\02_Codes_Projects\LearningJava\Exercise_09_YearsAndDays\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
